@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* color:#00112E; */
}
html
{
    scroll-behavior: smooth;
}
body
{
    /* overflow-x: hidden; */
    background-color: #F6FAFF;
    position: relative;
    /* left:1.5vw; */
}

/* LOADER-SCREEN------------------------------------------------------------------------------ */
#loader-screen
{
    height:100vh;
    width:100vw;
    background-color: #00368d;
    z-index: 1002;

    position: absolute;
    /* left:0; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: "Exo 2", sans-serif;

}
#loader-white
{
    position: absolute;
    height:50vh;
    width:50vw;
    background-color: white;
    border-radius: 10vw 0;
}
#loader-percent
{
    /* background-color: red; */
    z-index: 1;

    font-family: "Exo 2", sans-serif;
    font-size: 4rem;
    font-weight: 450;
    font-style: italic;
    -webkit-text-fill-color: rgba(240, 248, 255, 0);
    -webkit-text-stroke-width: 1.5px;
}

/* GOLD-MODE------------------------------------------------------------------------------ */
.goldmode-div
{
    background-color: white;
    padding:5px;
    border-radius: 50%;
    position: fixed;
    bottom:25px;
    right:25px;

    height:125px;
    width:125px;
    
    z-index: 1000;

    display: grid;
    place-items: center;

    transition: all 0.5s ease;
}
.goldmode-div:hover
{
    background-color: goldenrod;
}
.goldmode-div:active
{
    scale: 0.8;
    /* background-color: red; */
}


#goldmode-outer
{
    animation: rotateSVG 10s linear infinite;
    /* display:none; */
}

@keyframes rotateSVG {
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}

}
.goldmode-inner
{
    height:80px;
    width:80px;
    position: absolute;
    border:2px solid #00358D;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
#gold-star1
{
    height:10px;
    position: relative;
    top:15px;
    left:10px;

}
#gold-star2
{
    height:20px;
    position:relative;
    top:0px;
    left:-10px;
   
}
#gold-star3
{
    height:10px;
    position:relative;
    top:5px;
    left:-10px;
   
}
#gold-star4
{
    height:20px;
    position:relative;
    top:-10px;
    left:10px;
}

#goldmode-transition-gradient
{
    z-index:500;
    height:150vh;
    position: absolute;
    background-color: red;
    width:50vw;
    transform: translateX(100vw);


    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 27%, rgba(192,140,21,0.8814119397759104) 50%, rgba(0,212,255,0) 75%);
}


/* NAVBAR ----------------------------------------------------------------------------*/
.nav
{
    height:80px;
    width:100vw;
    background-color: white;
    /* position: fixed;
    top:0;
    left:0;
    margin-top:40px; */
    z-index:1000;
    display: flex;
    align-items: center;
}
.navLogoContainer
{
    position: relative;
    height:35px;
    left:5vw;
    color: #00358D;
    z-index:1000;
    
}
.navLogoText
{
    color:#9FAEB5;
    /* font-size: 2px; */
}


/* ------------------------ ------------------------ ------------------------ */
/* HAMBURGER MENU */
.hamburger
{
    position: absolute;
    font-size: 30px;
    right:0;
    width:10%;
    /* width:120%; */
    cursor: pointer;
}

.hamburger-menu
{
    position: absolute;
    top:0px;
    height:100vh;
    width:100vw;
    background-image: radial-gradient(#00358D,#031b41);
    z-index:1001;
    transform: translateX(100vw);
}

#hamburgerLogoContainer
{
    /* display: none; */
    top:2rem;
    color:white;
}
.fa-xmark
{
    color:white;
    font-size:50px;
    position: absolute;
    right:2.5rem;
    top:1rem;
    cursor: pointer;
}
.hamburger-options
{
    display: flex;
    width:100vw;
    height:80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    font-family: sans-serif;
    position: relative;
    top:10vh;
    font-size: 1rem;
    gap:1rem;
}

.ham-anchor
{
    color:white;
    text-decoration: none;
    /* background-color: blue; */
   
}
.wave
{
    /* display:none; */
    /* visibility: hidden; */
    opacity: 0;
    /* width:0; */
    color:white;
    font-size: 1rem;
    margin:0;
    gap:0;
    /* background-color: red; */
    transition: all 0.25s ease-in-out;
}
/* .hamburger-options a:nth-child(1):hover + .wave:nth-child(1)
{
    color:red;
    visibility: visible;
} */
.hamburger-options a:nth-child(1):hover + .fa-wave-square {
   opacity: 1;
   
}
.hamburger-options a:nth-child(3):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(5):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(7):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(9):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(11):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(13):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(15):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(17):hover + .fa-wave-square {
    opacity: 1;
}
.hamburger-options a:nth-child(19):hover + .fa-wave-square {
    opacity: 1;
}



/* section1------------------------------------------------------------------ */
#heroSection
{
    position: relative;
    /* border:2px solid red; */
    height:150vh;
}

.video1
{
    width:95vw;
    height: 80vh;
    object-fit: cover;
    border-top-right-radius: 100px;
}

/* .section1text [id="1"]
{
    font-family: "Exo 2", sans-serif;
    font-size: 4.5rem;
    font-weight: 650;
    letter-spacing: -0.05rem;
    word-break: normal;
} */

.blueText
{
    font-family: "Exo 2", sans-serif;
    font-size: 8rem;
    font-weight: 650;
    /* color:rgb(168, 48, 48); */
    color:hsl(0, 11%, 7%);
    margin-left: 4rem;
    mix-blend-mode:color-burn;
    /* mix-blend-mode:soft-light; */

}
.whiteText
{
    /* display: block; */
    font-family: "Exo 2", sans-serif;
    font-size: 8rem;
    font-weight: 650;
    font-style: italic;
    -webkit-text-fill-color: rgba(240, 248, 255, 0);
    -webkit-text-stroke-width: 1.5px;
    margin-left: 1rem;
    mix-blend-mode:color-burn;
}
.heroSectionText [id="1B"]
{
    display: block;
}



/* ----------------------------------------------------------------------------- */

#section2
{
    background-color: #00358D;
    color:white;
    font-family: sans-serif;
    border-top-left-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2_header
{
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    padding: 4rem 2rem 2rem 0rem;
}

.section2_container
{
    width:90vw;
    height:25vh;
    /* border:4px solid red; */
}

#section2_img
{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 2rem;
}

.section2_divider
{
    height:3px;
    width:90vw;
    background-color: #335DA3;
    margin-top: 2rem;
}
.section2_loader
{
    /* position: relative; */
    background-color: red;
    bottom:2.2rem;
}
.section2_li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin:2rem 2rem;
    line-height: 1.75rem;
    
}
.section2_paraHeader
{
    font-size: 1.5rem;
    position: relative;
    margin:2rem;
}

.showTxt
{
    display: block;
    /* color:red; */
    /* visibility: visible; */
    transition: all 0.5s ease-in-out;
    /* transform:; */
}
/* .showTxt::before
{
    content:"";

} */
.hideTxt
{
    display: none;
    /* visibility: hidden; */
    transition: all 0.5s ease-in-out;
}
/* ----------------------------------------------------------------------------- */
#section3
{   
    margin-top: 10rem;
    font-family: sans-serif;
    position: relative;
}

.section3_header
{
    font-size: 1.2rem;
    position: absolute;
    top:-0.750rem;
    padding-left: 2.5rem;
    background-color: #F6FAFF;
    /* background-color: red; */
    width:15rem;
    color:#062c69;

}
.section3_container
{
    /* border1px solid black; */
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5rem;
    height:500px;
    width:85vw;
}
.section3_text
{
    font-size: 2rem;
    line-height: 3rem;
    margin: 5rem 5rem 0 3rem;
}
.paraButton
{
    border-radius: 5rem;
    border:1px solid #335DA3;
    background-color: #F6FAFF;
    font-size: 1.2rem;

    display: flex;
    padding:0.75rem 1.75rem;
    align-items: center;
    margin: 1rem 0 0 2.5rem;
}
.section3_buttonCircle
{
    background-color: #062c69;
    border-radius: 50%;
    color: white;
    
    /* height:100%; */
    /* width:100%; */
    padding:0.5rem 0.65rem;
    margin-left: 1rem;
}
.fa-arrow-right
{
    /* transition: all 0.5s ease; */
    color:#F6FAFF
}
.section3_buttonCircle:hover .fa-arrow-right
{
    /* color:red; */
    /* transform: translateX(2rem); */
    animation-duration: 0.5s;
    animation-name: arrowAnimation;
    /* animation-play-state: ; */
}

@keyframes arrowAnimation
{
    to{transform: translateX(2rem);}
}


/* ------------------------------------------------------------------------------------- */
/* SECTION 4 */

/* #container1
{
    animation: countryAnimation1;
    animation-timing-function: ease-in-out; 
    animation-timeline:scroll();
    height:100vh;
}

@keyframes countryAnimation1
{
    from{transform: translateX(-100%)}
    to{transform:translateX(0%)}
} */
#countryAnimationSection
{
    height:100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:500px;
    /* background-color: aqua; */

}
#container1
{
    display: flex;
    align-items: center;
}
#country1A
{
    height: 60px;
    width:60px;
}
.countryyyText {
    transition: color 0.3s ease; 
}

.countryyyText:hover {
    color: red; 
}

.countryTextClass
{
    font-size: 40px;
    font-family:sans-serif;
    font-weight: 600;
    color: black;
    margin: 0 6rem 0 1rem;
    white-space: nowrap;
    transition: all 0.25s ease-in-out;
}
.countryTextClass:hover
{
    /* color:red; */
    -webkit-text-fill-color: aliceblue;
    -webkit-text-stroke-width: 1.5px;
}

.countryImgClass
{
    height:60px;
    width:60px;
    object-fit: cover;
    border-radius: 1.2rem;
    transition: all 0.25s ease-in-out;
}

.countryImgClass:hover
{
    background-image: url(./resources/Logo.png);
}


/* .countryDivSmooth
{
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier( 0.51, 0.01, 0.36, 0.99 );
} */

/* --------------------------------------------------------------------------------- */
/* How we Move Section */
/* .howWeMove_container
{
    height:100vh;


    overflow-y: auto; PERSPECTIVE
    overflow-x: hidden; PERSPECTIVE
    perspective: 10px;PERSPECTIVE
}
.howWeMoveWrapper
{
    height:100%;
    position: relative;

    transform-style:preserve-3d;PERSPECTIVE
    z-index: -1;PERSPECTIVE
}

.howWeMove_header
{
    display: inline;
    position: absolute;
    left:10rem;
    top:10rem;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 400;
}
.howWeMove_description
{
    display: inline;
    position: absolute;
    left:10rem;
    top:15rem;
    font-size: 1.25rem;
    width:35%;
    font-family: sans-serif;
}
.howWeMove_container
{
    height: 30vw;
    display: flex;
    justify-content: center;
    right:10rem;
    top:5rem;
    

    transform: translateZ(-10px) scale(2);

}
.howWeMove_img
{

    height:100%;
    background-color: white;
    border-top-left-radius: 5rem;


} ------------------------------------------------------------------*/


  


#howWeMoveSection
{
    height:400px;
    width:100vw;
    background-color: #F6FAFF;

    font-family: sans-serif;

    display: flex;
    align-items: center;

    position: relative;
}
/* .howWeMoveWrapper
{
    background-color: red;
} */
.howWeMove_about
{
    position: relative;
    top:15rem;
    left:10vw;

}
.howWeMove_header
{
    font-size: 3.5rem;
    font-weight: 400;
}
.howWeMove_description
{
    /* background-color: red; */
    font-size: 1.4rem;
    width:30rem;
    margin: 2rem 0;
    line-height: 2rem;
}
.howWeMove_button
{
    left:7vw;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

.howWeMove_container
{
    background-color: white;
    height:25rem;
    width:25rem;
    border-top-left-radius: 8rem;
    
    position: absolute;
    top:15rem;
    right:10vw;
}

#howWeMove_img
{
    height:120%;
    z-index:1;

    position: relative;
    right:4rem;
    animation: howWeMoveAnimation 0.75s linear infinite;
}

/* @keyframes howWeMoveAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */


/* ------------------------------------------------------------ */

.joinTeamSection
{
    /* background-color: red; */
    position: relative;
    top:20rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.joinTeam_cards
{
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    /* transform: 
            perspective(1000px)
            rotateX('45deg')
            rotateY('45deg');
    transform-style: preserve-3d; */ 

}

.joinTeam_cardImg
{
    min-height:30rem;
    width:90vw;
    /* background-color: aqua; */
    display: flex;

    position: relative;
}
.cardImg
{
    height:40%;
    width:100%;
    object-fit: cover;
    
    position: absolute;
}
.joinTeam_content
{
    position: absolute;
    left:18%;
    top:0;
    width: 60%;

    /* background-color: #9FAEB5; */
    word-break: break-word;
}





/* ------------------------------------------- */
.card-container
{
    perspective: 1500px;
    min-height:30rem;
    width:90vw;
    /* background-color: red; */
}
.card
{
    height:100%;
    width:100%;
    transform-style: preserve-3d;
    transition: all 0.05s linear;
    padding-bottom: 1rem;
    box-shadow: 0 2rem 4rem 2rem #00060f25;
}
.card-img-div
{
    width:90vw;
    height:15rem;
}
.card-img
{
    height:100%;
    width:100%;
    object-fit: cover;
}

.card-description
{
    color:#062c69;
    font-size:1.2rem;
    font-family: sans-serif;
    margin: 2rem;
    line-height: 1.75rem;
}

.joinTeam_text
{
    width:90vw;
    font-size:2rem;
    font-family: sans-serif;
    margin-bottom: 5rem;
}
.joinTeam_text h3
{
    font-size: 1rem;
    font-weight: 400;
}
#joinTeamCardContainer
{
    /* background-color: red; */
    padding:0rem;
}

/* -------------------------------------------------------------------------------------------------- */
/* COMMODITIES AND SERVICES CARDS */

.commoditiesAndServicesSection
{
    /* background-color: red; */
    height:50vh;
    width:100vw;
    position: relative;
    top:50vh;
    display: flex;
    justify-content: center;
}
.cnsCard
{   
    /* position: absolute; */
    top:5rem;
    display: inline-block;
    width:45vw;
    height:20vw;
    display: grid;
    place-items: center;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.333);
    margin:5rem 1rem;
    font-family: "Exo 2", sans-serif;

    /* border:2px solid red; */

    /* background-color: ; */
}
.cnsHeader
{
    font-weight: 600;
    font-size: 1rem;   
}
.cnsText
{
    font-size: 2.5rem;
}
.cnsButton
{
    border:none;
    border:1px solid black;
    background-color: #00368d00;
    padding:0.5rem 3rem;
    border-radius: 5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
#cnsButton2
{

    border:1px solid rgb(255, 255, 255);
    color:white;
}



#cnsCard1
{
    border-bottom-left-radius: 5rem;
    background-color: #99bdcd;
    position: relative;
    top:-4rem;
}
#cnsCard2
{
    position: relative;
    top:-4rem;
}
.cnsCardContainer
{
    /* background-color: red; */
    height:80%;
    position: relative;
    top:4rem;

}


.cardGlare1::before
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    border-bottom-left-radius: 5rem;

    background: rgb(2,0,36);
    background: linear-gradient(43deg, rgba(2,0,36,0) 0%, rgba(207, 207, 217, 0.253) 49%, hsla(240, 12%, 83%, 0.253) 50%, rgba(0,212,255,0) 100%);
    background-size: 1000% 1000%;
    opacity: 0.2;
    background-position: 00% 00%;
    z-index:-5;

    transition: all 500ms ease-in-out;
}

.cardGlare1:hover::before
{
    background-position: 90% 90%;
}

.cardGlare2::before
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 5rem;

    
    background: rgb(2,0,36);
    background: linear-gradient(43deg, rgba(2,0,36,0) 0%, rgba(207, 207, 217, 0.553) 49.5%, hsla(240, 12%, 83%, 0.553) 49.6%, rgba(0,212,255,0) 100%);
    background-size: 1000% 1000%;
    opacity: 0.4;
    background-position: 0 0;
    z-index:-5;

    transition: all 500ms ease-in-out;
}

.cardGlare2:hover::before
{
    background-position: 90% 90%;
}


#cnsCard2
{
    border-top-right-radius: 5rem;
    background-color: #0b2c60;
    color:white;
}