@media all and (width<767px)
{
    .blueText
    {
        font-size: 4.5rem;
        margin-left: 0.5rem;
    }
    .whiteText
    {
        font-size: 4.5rem;
    }
    #section2
    {
        position: relative;
        bottom:10vh;
    }

    /* ----------------------------------- */
    #section3
    {
        height:150vh;
    }
    .section3_header
    {
        position: absolute;
        top:-5rem;
        /* background-color: red; */
        padding:0 1rem;
    }
    .section3_container
    {
        border: none;
    }
    .section3_text
    {
        font-size: 1.5rem;
        margin:1rem;
        /* background-color: red; */
        width:95vw;
        line-height: 2rem;
        padding-right:1rem;
    }
    .section3_button
    {
        /* background-color: red; */
        margin:2rem 1rem;
    }
}


/* -------------------------------------------------------------------------------------------- */
@media all and (767px<width<900px)
{
    .blueText{
        font-size: 7rem;
        font-weight: 650;
        margin-left: 2rem;
    }
    .whiteText{
        display: inline;
        font-size: 7rem;
        /* margin-left: 2rem; */
    }
    #heroSection
    {
        height:170vh;
    }
}

/* -------------------------------------------------------------------------------------------- */
@media all and (width<900px)
{
    .howWeMoveSection
    {
        /* flex-direction: column; */
        position: relative;
    }
    .howWeMove_about
    {
        left:5vw;
        top:85vw;
        /* min-height: 80%; */
        width: 80vw;
        /* background-color: red; */
    }
    .howWeMove_header
    {
        font-size: 10vw;
    }
    .howWeMove_container
    {
        height:90vw;
        width:90vw;
        left:5vw;
        top:0;
        
    }
}
/* -------------------------------------------------------------------------------------------- */

@media all and (900px<width)
{   
    .videoContainer
    {
        display: flex;
        justify-content: center;
        position: absolute;
        left:55vw;
        z-index: -1;
        /* border:2px solid blue; */
    }
    .video1
    {
        width:40vw;
        height:130vh;
    }
  
    .heroSectionText
    {
        position: relative;
        top:5rem;
        left:2rem;
    }
    #heroSection
    {
        height:130vh;
    }

}


/* -------------------------------------------------------------------------------------------- */
@media all and (900px<width<1300px)
{
    .howWeMove_about
    {
        left:5vw;
    }
    .howWeMove_container
    {
        right:6vw;
        height:30vw;
        width:30vw;
    }
}